<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="org.e4.gemini.target" sequenceNumber="13">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="ch.qos.logback.feature.feature.group" version="1.0.7"/>
<unit id="org.slf4j.feature.feature.group" version="1.6.6"/>
<repository location="http://logback.qos.ch/p2"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gemini.dbaccess.feature.feature.group" version="1.1.0.RELEASE"/>
<unit id="org.eclipse.gemini.dbaccess.h2.feature.feature.group" version="1.1.0.RELEASE"/>
<unit id="org.eclipse.gemini.dbaccess.mysql.feature.feature.group" version="1.1.0.RELEASE"/>
<repository location="http://download.eclipse.org/gemini/updates/dbaccess/1.1.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gemini.jpa.feature.feature.group" version="1.1.0.RELEASE"/>
<repository location="http://download.eclipse.org/gemini/updates/jpa/1.1.0"/>
</location>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.persistence.sdk.feature.group" version="2.5.0.v20130507-3faac2b"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.9.0.v20130604-2047"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gemini.jpa.feature.feature.group" version="1.2.0.M1"/>
<repository location="http://download.eclipse.org/gemini/jpa/updates"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gemini.ext.di.feature.feature.group" version="1.1.0.201307061743"/>
<repository location="http://repository.mukis.de/p2/org.eclipse.gemini.ext.di/1.1.0"/>
</location>
</locations>
</target>
